@import "../../assets/styles/variables.style.scss";

.btn {
  cursor: pointer;
  background-color: $primary-color;
  padding: 0.5em 0.75em;
  margin: 1rem;

  border: 1px solid $primary-color;
  border-radius: 2em;

  font-weight: 700;
}

.no-bg {
  background-color: transparent;

  color: $primary-color;
}

.block {
  display: block;
  width: calc(100% - 2rem);
}
