@import "../../assets/styles/variables.style.scss";
@import "../../assets/styles/mixins.style.scss";

.home {
  .menu-box {
    @include bp-small {
      display: flex;
      justify-content: right;
    }
  }

  .main-box {
    @include bp-tablet {
      flex-grow: 2;
    }
  }

  .footer {
    width: 600px;
    padding: 12px;

    border: 1px solid $secondary-color-dark;
    border-top: none;

    text-align: center;

    @include bp-tablet {
      width: 100%;
      border: none;
    }
  }
}
