@import "../../assets/styles/variables.style.scss";
@import "../../assets/styles/mixins.style.scss";

.extra-page-layout {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(black, 0.75);

  &__content {
    overflow-y: scroll;
    background-color: $black;
    width: 768px;
    min-height: 100vh;
    margin: 0 auto;

    border-left: 1px solid $secondary-color-dark;
    border-right: 1px solid $secondary-color-dark;

    .title {
      padding: 12px;
      border-bottom: 1px solid $secondary-color-dark;

      .close-page {
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }

    @include bp-tablet {
      width: 100%;
    }
  }
}
