@import "../../assets/styles/variables.style.scss";
@import "../../assets/styles/mixins.style.scss";

.menu-item {
  padding: 12px;

  span {
    margin: 0 16px 0 20px;
    font-weight: 700;

    @include bp-med {
      display: none;
    }
  }

  &:hover {
    span,
    i {
      color: $primary-color;
    }
  }
}
