//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #14171a;
$white: #f5f8fa;

$primary-color: #1da1f2;

$secondary-color-dark: #657786;
$secondary-color: #aab8c2;
$secondary-color-light: #e1e8ed;

$danger-color: #ff006a;
$success-color: #00ff88;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Roboto", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
