@import "../../assets/styles/variables.style.scss";

.tweet-btn {
  margin-left: 12px;

  i {
    margin-right: 4px;
  }
}

.reply {
  &:hover {
    color: $primary-color;

    i {
      color: $primary-color;
    }
  }
}

.retweets {
  &:hover {
    color: $success-color;

    i {
      color: $success-color;
    }
  }
}

.likes {
  &:hover {
    color: $danger-color;

    i {
      color: $danger-color;
    }
  }
}

.active-reply {
  color: $primary-color;

  i {
    color: $primary-color;
  }
}

.active-retweets {
  color: $success-color;

  i {
    color: $success-color;
  }
}

.active-likes {
  color: $danger-color;

  i {
    color: $danger-color;
  }
}
