@import "../../assets/styles/variables.style.scss";
@import "../../assets/styles/mixins.style.scss";

.profile-card {
  width: 100%;
  padding: 12px;

  border-bottom: 1px solid $secondary-color-dark;

  &__img {
    flex-shrink: 0;
    overflow: hidden;

    width: 75px;
    height: 75px;

    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    overflow: hidden;
    flex-grow: 1;

    margin-left: 12px;

    & > :first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .bio {
      margin: 12px 0;
    }
  }

  &__title > h2 {
    margin-right: 12px;
  }
}
